<span class="minus icon icon-arrow"></span>

<style>
.minus {
	display: inline-block;
	vertical-align: middle;
	color: #333;
	line-height: 1;
	width: 1em;
	height: 0.1em;
	background: currentColor;
	border-radius: 0.1em;
	position: relative;
}
</style>